<% @users.each do |e| %>
    <p>
        ユーザID: <%= e.uid %><br>
        パスワード :<%= e.pass %><br>
        <%=link_to '削除', "/users/#{e.id}", data: { turbo_method: :delete } %>
    </p>
<% end %>

<%= link_to '新規追加', '/users/new' %>

<%= link_to 'ログイン画面に戻る', controller: 'top', action: 'main' %>